services:
  keycloak:
    image: quay.io/keycloak/keycloak:latest
    ports:
      - "8080:8080"
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
    command: start-dev

  api:
    build:
      context: .
      dockerfile: BlazorGameQuestGameAPI/Dockerfile
    environment:
      - ASPNETCORE_URLS=http://+:5001
    expose:
      - "5001"
    depends_on:
      - keycloak

  client:
    build:
      context: .
      dockerfile: BlazorGameClient/Dockerfile
    expose:
      - "80"
    depends_on:
      - api
      - keycloak

  gateway:
    image: nginx:alpine
    ports:
      - "5000:80"
    volumes:
      - ./gateway/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - api
      - client
      - keycloak

