services:
  keycloak:
    image: quay.io/keycloak/keycloak:latest
    ports:
      - "8080:8080"
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
    command: start-dev

  api:
    build:
      context: .
      dockerfile: BlazorGameQuestGameAPI/Dockerfile
    ports:
      - "5001:5001"
    environment:
      - ASPNETCORE_URLS=http://+:5001
    depends_on:
      - keycloak

  client:
    build:
      context: .
      dockerfile: BlazorGameClient/Dockerfile
    ports:
      - "5000:80"
    depends_on:
      - api
      - keycloak

