<nav>
    <ul>
        <li>
            <a href="/admin">Admin</a>
        </li>
        <li>
            <a href="/admin">Résultats</a>
        </li>
        <li>
            <a href="/admin">Players</a>
        </li>
    </ul>
</nav>