@* <nav>
    <ul>
        <li>
            <a href="/admin">Gestion Joueur</a>
        </li>
        <li>
            <a href="/MapEditor">Map Editor</a>
        </li>
    </ul>
</nav> *@
@* <MudPaper Class="w-100" Style="max-width: 350px;"> *@



<MudPaper Class="p-0 m-0 w-100" Elevation="10" Style="background-color:#2c3e50; color:white; height:100vh;">
    <MudNavMenu>
        <MudText Typo="Typo.h6" Class="px-4">Admin Panel</MudText>
        <MudDivider Class="my-2" />
        <MudNavLink Href="/admin" Class="text-white">Gestion Joueur</MudNavLink>
        <MudDivider Class="my-1" />
        <MudNavLink Href="/MapEditor" Class="text-white">Map Editor</MudNavLink>
    </MudNavMenu>
</MudPaper>