@inherits LayoutComponentBase

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@

<MudDialogProvider
    FullWidth="true"
    MaxWidth="MaxWidth.ExtraSmall"
    CloseButton="true"
    BackdropClick="false"
    NoHeader="true"
    Position="DialogPosition.Center"
    CloseOnEscapeKey="true"
    BackgroundClass="my-custom-class"/>
@* Needed for snackbars *@
<MudSnackbarProvider />



<div class="page">
    @* <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
