@using MudBlazor
@using BlazorGameQuestClassLib
@using Components
<div style="display:flex; justify-content:center; margin-top:10vh; ">
    <div style="width:50%; text-align:center; display:flex; flex-direction:column; gap:5vh;">
        <h2 style="text-align:center;">LeaderBoard</h2>
        
        <LeaderBoard/>

        
        <div style="display:flex; justify-content:center;">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" style="width:50%;">
                Nouvelle aventure
            </MudButton>
        </div>
    </div>
</div>
