@inject NavigationManager Navigation

@using MudBlazor
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<div class="login-container">
    <MudPaper Class="pa-6 mx-auto mt-12" Elevation="8" MaxWidth="400px">
        <MudText Typo="Typo.h5" Align="Align.Center" GutterBottom="true">
            Connexion à BlazorGameQuest
        </MudText>

        <MudText Typo="Typo.body2" Color="Color.Secondary" Align="Align.Center" Class="mb-4">
            Connectez-vous avec votre compte Keycloak pour accéder au jeu.
        </MudText>

        <MudButton OnClick="BeginSignIn"
                    Variant="Variant.Filled"
                    Color="Color.Primary"
                    FullWidth="true"
                Size="Size.Large"
                StartIcon="@Icons.Material.Filled.Login"
                    Class="mt-4">
            Se connecter avec Keycloak
            </MudButton>
    </MudPaper>
</div>

@code {
    private void BeginSignIn()
    {
        Navigation.NavigateToLogin("authentication/login");
    }
}