@page "/admin"
@using BlazorGameClient.Components
@using BlazorGameClient.Layout

<div class="admin-page">
    <AdminNavbar />
    <div class="admin-content">
        <AdminPannel />
    </div>
</div>