@page "/game"

@using BlazorGameClient.Game.Utils
@using BlazorGameQuestClassLib.AbstractModels
@using MudBlazor
@using BlazorGameQuestClassLib
@using Components
@using BlazorGameClient.Components.GamePlay
@using System.Threading.Tasks
@inject DonjonService DonjonService
@inject InputManager Input
@inject IJSRuntime JS
<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <h1>JEU en cours de construction</h1>
    <GridCanva @ref="gridCanva" IsEditing=false />
    @* <button class="mud-button mud-button-filled" @onclick="StartAnimation">Lancer l'animation</button> *@

    <GameRulesCard />
</div>

@code {
    private GridCanva? gridCanva;
    private Dictionary<string, List<int>>? DonjonEltConfig;
    private Player player = new Player();
    private List<Donjon> donjons = new();
    private Donjon? CurrentDonjon;
    List<List<Interactable>>? interactables;
    List<Interactable>? actifInteractables;
    private int currentDonjonIndex = 0;
    private readonly int nbRandomDonjon = 5;
    private bool running = true;

    private float moveCooldown = 0.1f; // secondes entre chaque case
    private float moveTimer = 0f;
    //private List<List<Interactable>>? interactables;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && gridCanva != null)
        {

            donjons = await DonjonService.GetRandomDonjon(nbRandomDonjon);
            CurrentDonjon = donjons[currentDonjonIndex];
            DonjonEltConfig = await DonjonService.GetDonjonEltConf();

            interactables = CurrentDonjon.AsInteractable(DonjonEltConfig);
            actifInteractables = interactables
            .SelectMany(row => row)
            .Where(item => item != null && item.IsActive)
            .ToList(); await Input.InitializeAsync();
            await DrawFrame();

            _ = GameLoop();
        }
    }
    private async Task GameLoop()
    {
        const int frameDelay = 1; // environ 60 FPS
        while (running)
        {
            //gridCanva.DrawFrame("/assets/Main Character/walk/walk_down/0.png",10,10);

            Update();

            await InvokeAsync(StateHasChanged);
            await Task.Delay(frameDelay);
        }
    }
    private async void Update()
    {
        if (gridCanva == null || CurrentDonjon?.GameGrid == null)
            return;

        float deltaTime = 1f / 10f; // ~60 FPS
        moveTimer -= deltaTime;
        CheckCollisions();
        UpdatePlayerPosition();
        player.UpdateAnimation(deltaTime);

        await DrawFrame();

        //await DrawGame(CurrentDonjon.GameGrid);
        //await DrawPlayer();
    }

    private void UpdatePlayerPosition()
    {
        var pressedKeys = Input.GetPressedKeys();

        if (moveTimer > 0)
            return;
        if (pressedKeys.Count() == 0)
        {
            player.Stop();
        }
        foreach (var key in pressedKeys)
        {
            switch (key)
            {
                case "ArrowUp":
                    if (PlayerCanMove(0, -1))
                    {
                        player.MoveUp();
                    }
                    break;
                case "ArrowDown":
                    if (PlayerCanMove(0, 1))
                    {
                        player.MoveDown();
                    }
                    break;

                case "ArrowLeft":
                    if (PlayerCanMove(-1, 0))
                    {
                        player.MoveLeft();
                    }
                    break;

                case "ArrowRight":
                    if (PlayerCanMove(1, 0))
                    {
                        player.MoveRight();
                    }
                    break;
                case "KeyJ": player.Attack(); break;

                default: player.Stop(); break;
            }
            moveTimer = moveCooldown;
            break;
        }
    }
    private bool PlayerCanMove(int dx, int dy)
    {
        int nextX = (int)player.X + dx;
        int nextY = (int)player.Y + dy;

        if (IsBlocked(nextX, nextY))
        {
            player.Stop();
            return false;
        }

        return true;

    }

    private bool IsBlocked(int nextX, int nextY)
    {
        if (actifInteractables == null)
            return false;

        return actifInteractables.Any(a =>
        a is Wall w && w.X == nextX && w.Y == nextY);
    }
    private void CheckCollisions()
    {
        if (actifInteractables == null) return;
        Console.WriteLine("count actif " + actifInteractables.Count());

        foreach (var item in actifInteractables)
        {
            if (player.X == item.X && player.Y == item.Y)
            {
                item.Interact(player);
            }

        }
    }
    private async Task DrawFrame()
    {
        await JS.InvokeVoidAsync("drawFrame", interactables, player, GameGrid.SPRITE_SIZE);
    }
    private async Task DrawGame(GameGrid grid)
    {
        if (gridCanva == null || grid == null) return;

        await gridCanva.DrawFromGameGrid(grid);
    }
    private async Task DrawPlayer()
    {
        if (player == null || gridCanva == null) return;

        var framePath = player.GetCurrentFramePath();
        if (!string.IsNullOrEmpty(framePath))
        {
            await JS.InvokeVoidAsync("drawTile", framePath, player.X, player.Y, GameGrid.SPRITE_SIZE);

            //await gridCanva.DrawFrame(framePath, (int)player.X, (int)player.Y);
        }
        StateHasChanged();
    }
    //j'ai mal à la tete
    private void initPlayerAnimation()
    {
        // Walk animations
        var walkDown = AnimationHelper.GetAnimationsFromFolder("/assets/Main Character/walk/walk_down", 4);
        var walkUp = AnimationHelper.GetAnimationsFromFolder("/assets/Main Character/walk/walk_up", 4);
        var walkLeft = AnimationHelper.GetAnimationsFromFolder("/assets/Main Character/walk/walk_left", 4);
        var walkRight = AnimationHelper.GetAnimationsFromFolder("/assets/Main Character/walk/walk_right", 4);

        player.AddAnimation("walk_down", walkDown);
        player.AddAnimation("walk_up", walkUp);
        player.AddAnimation("walk_left", walkLeft);
        player.AddAnimation("walk_right", walkRight);

        var allWalkImages = walkDown.Concat(walkUp).Concat(walkLeft).Concat(walkRight).ToList();
        JS.InvokeVoidAsync("preloadImages", allWalkImages);

        // Idle animations
        var idleDown = AnimationHelper.GetAnimationsFromFolder("/assets/Main Character/idle/idle_down", 4);
        var idleUp = AnimationHelper.GetAnimationsFromFolder("/assets/Main Character/idle/idle_up", 4);
        var idleLeft = AnimationHelper.GetAnimationsFromFolder("/assets/Main Character/idle/idle_left", 4);
        var idleRight = AnimationHelper.GetAnimationsFromFolder("/assets/Main Character/idle/idle_right", 4);

        player.AddAnimation("idle_down", idleDown);
        player.AddAnimation("idle_up", idleUp);
        player.AddAnimation("idle_left", idleLeft);
        player.AddAnimation("idle_right", idleRight);
        var allIdleImages = idleDown.Concat(idleUp).Concat(idleLeft).Concat(idleRight).ToList();
        JS.InvokeVoidAsync("preloadImages", allIdleImages);
        // Attack animations
        var attackDown = AnimationHelper.GetAnimationsFromFolder("/assets/Main Character/attack/attack_down", 6);
        var attackUp = AnimationHelper.GetAnimationsFromFolder("/assets/Main Character/attack/attack_up", 6);
        var attackLeft = AnimationHelper.GetAnimationsFromFolder("/assets/Main Character/attack/attack_left", 6);
        var attackRight = AnimationHelper.GetAnimationsFromFolder("/assets/Main Character/attack/attack_right", 6);

        player.AddAnimation("attack_down", attackDown);
        player.AddAnimation("attack_up", attackUp);
        player.AddAnimation("attack_left", attackLeft);
        player.AddAnimation("attack_right", attackRight);

        var allAttackImages = attackDown.Concat(attackUp).Concat(attackLeft).Concat(attackRight).ToList();
        JS.InvokeVoidAsync("preloadImages", allAttackImages);
    }

    @* private void initPlayerAnimation()
    {
        //temporaraire pr test
        var walk_down_animation=AnimationHelper.GetAnimationsFromFolder("/assets/Main Character/walk/walk_down", 4);
        player.AddAnimation("walk_down", walk_down_animation);
        player.AddAnimation("walk_up", AnimationHelper.GetAnimationsFromFolder("/assets/Main Character/walk/walk_up", 4));
        player.AddAnimation("walk_left", AnimationHelper.GetAnimationsFromFolder("/assets/Main Character/walk/walk_left", 4));
        player.AddAnimation("walk_right", AnimationHelper.GetAnimationsFromFolder("/assets/Main Character/walk/walk_right", 4));

        player.AddAnimation("idle_down", AnimationHelper.GetAnimationsFromFolder("/assets/Main Character/idle/idle_down", 4));
        player.AddAnimation("idle_up", AnimationHelper.GetAnimationsFromFolder("/assets/Main Character/idle/idle_up", 4));
        player.AddAnimation("idle_left", AnimationHelper.GetAnimationsFromFolder("/assets/Main Character/idle/idle_left", 4));
        player.AddAnimation("idle_right", AnimationHelper.GetAnimationsFromFolder("/assets/Main Character/idle/idle_right", 4));

        player.AddAnimation("attack_down", AnimationHelper.GetAnimationsFromFolder("/assets/Main Character/attack/attack_down",
        6));
        player.AddAnimation("attack_up", AnimationHelper.GetAnimationsFromFolder("/assets/Main Character/attack/attack_up", 6));
        player.AddAnimation("attack_left", AnimationHelper.GetAnimationsFromFolder("/assets/Main Character/attack/attack_left",
        6));
        player.AddAnimation("attack_right", AnimationHelper.GetAnimationsFromFolder("/assets/Main Character/attack/attack_right", 6));


    } *@
    protected override void OnInitialized()
    {
        player.X = 1;
        player.Y = 1;
        //donjons = DonjonService.GetRandomDonjon(nbRandomDonjon);
        initPlayerAnimation();
        player.PlayAnimation("idle_down");


    }
    protected override async Task OnInitializedAsync()
    {
        // DonjonEltConfig = await DonjonService.GetDonjonEltConf();
        //Console.WriteLine(string.Join("\n", DonjonEltConfig.Select(kvp => $"{kvp.Key}: {string.Join(", ", kvp.Value)}")));
    }


}