@page "/game"

@using BlazorGameClient.Game.Utils
@using BlazorGameQuestClassLib.AbstractModels
@using MudBlazor
@using BlazorGameQuestClassLib
@using Components
@using BlazorGameClient.Components.GamePlay
@using System.Threading.Tasks
@inject DonjonService DonjonService
@inject InputManager Input
@inject IJSRuntime JS
<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <h1>JEU en cours de construction</h1>
    <GridCanva @ref="gridCanva" IsEditing=false />
    @* <button class="mud-button mud-button-filled" @onclick="StartAnimation">Lancer l'animation</button> *@

    <GameRulesCard />
</div>

@code {
    private GridCanva? gridCanva;
    private Dictionary<string, List<int>>? DonjonEltConfig;
    private Player player = new Player();
    private List<Donjon> donjons = new();
    private Donjon? CurrentDonjon;
    List<List<Interactable>>? interactables;
    private int currentDonjonIndex = 0;
    private readonly int nbRandomDonjon = 5;
    private bool running = true;

    private float moveCooldown = 0.2f; // secondes entre chaque case
    private float moveTimer = 0f;
    //private List<List<Interactable>>? interactables;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && gridCanva != null)
        {

            donjons = await DonjonService.GetRandomDonjon(nbRandomDonjon);
            CurrentDonjon = donjons[currentDonjonIndex];
            DonjonEltConfig = await DonjonService.GetDonjonEltConf();

            interactables = CurrentDonjon.AsInteractable(DonjonEltConfig);
            Console.WriteLine("COUNT " + interactables.Count() + " " + interactables[0].Count());
            await Input.InitializeAsync();
            await JS.InvokeVoidAsync("preloadImages", interactables, player);
            await DrawFrame();

            _ = GameLoop();
        }
    }
    private async Task GameLoop()
    {
        const int frameDelay = 1; // environ 60 FPS
        while (running)
        {
            //gridCanva.DrawFrame("/assets/Main Character/walk/walk_down/0.png",10,10);

            Update();

            await InvokeAsync(StateHasChanged);
            await Task.Delay(frameDelay);
        }
    }
    private async void Update()
    {
        if (gridCanva == null || CurrentDonjon?.GameGrid == null)
            return;

        float deltaTime = 1f / 10; // ~60 FPS
        moveTimer -= deltaTime;
        UpdatePlayerPosition();
        player.UpdateAnimation(deltaTime);

        await DrawFrame();

        //await DrawGame(CurrentDonjon.GameGrid);
        //await DrawPlayer();
    }

    private void UpdatePlayerPosition()
    {
        var pressedKeys = Input.GetPressedKeys();

        if (moveTimer > 0)
            return;
        if (pressedKeys.Count() == 0)
        {
            player.Stop();
        }
        foreach (var key in pressedKeys)
        {
            switch (key)
            {
                case "ArrowUp": player.MoveUp(); break;
                case "ArrowDown": player.MoveDown(); break;
                case "ArrowLeft": player.MoveLeft(); break;
                case "ArrowRight": player.MoveRight(); break;
                case "KeyJ": player.Attack(); break;

                default: player.Stop(); break;
            }
            moveTimer = moveCooldown;
            break;
        }
    }
    private async Task DrawFrame()
    {
        await JS.InvokeVoidAsync("drawFrame", interactables, player, GameGrid.SPRITE_SIZE);
    }
    private async Task DrawGame(GameGrid grid)
    {
        if (gridCanva == null || grid == null) return;

        await gridCanva.DrawFromGameGrid(grid);
    }
    private async Task DrawPlayer()
    {
        if (player == null || gridCanva == null) return;

        var framePath = player.GetCurrentFramePath();
        if (!string.IsNullOrEmpty(framePath))
        {
            await JS.InvokeVoidAsync("drawTile", framePath, player.X, player.Y, GameGrid.SPRITE_SIZE);

            //await gridCanva.DrawFrame(framePath, (int)player.X, (int)player.Y);
        }
        StateHasChanged();
    }



    private void initPlayerAnimation()
    {
        //temporaraire pr test
        player.AddAnimation("walk_down", AnimationHelper.GetAnimationsFromFolder("/assets/Main Character/walk/walk_down", 4));
        player.AddAnimation("walk_up", AnimationHelper.GetAnimationsFromFolder("/assets/Main Character/walk/walk_up", 4));
        player.AddAnimation("walk_left", AnimationHelper.GetAnimationsFromFolder("/assets/Main Character/walk/walk_left", 4));
        player.AddAnimation("walk_right", AnimationHelper.GetAnimationsFromFolder("/assets/Main Character/walk/walk_right", 4));

        player.AddAnimation("idle_down", AnimationHelper.GetAnimationsFromFolder("/assets/Main Character/idle/idle_down", 4));
        player.AddAnimation("idle_up", AnimationHelper.GetAnimationsFromFolder("/assets/Main Character/idle/idle_up", 4));
        player.AddAnimation("idle_left", AnimationHelper.GetAnimationsFromFolder("/assets/Main Character/idle/idle_left", 4));
        player.AddAnimation("idle_right", AnimationHelper.GetAnimationsFromFolder("/assets/Main Character/idle/idle_right", 4));

        player.AddAnimation("attack_down", AnimationHelper.GetAnimationsFromFolder("/assets/Main Character/attack/attack_down",
        6));
        player.AddAnimation("attack_up", AnimationHelper.GetAnimationsFromFolder("/assets/Main Character/attack/attack_up", 6));
        player.AddAnimation("attack_left", AnimationHelper.GetAnimationsFromFolder("/assets/Main Character/attack/attack_left",
        6));
        player.AddAnimation("attack_right", AnimationHelper.GetAnimationsFromFolder("/assets/Main Character/attack/attack_right", 6));


    }
    protected override void OnInitialized()
    {
        player.X = 0;
        player.Y = 0;
        //donjons = DonjonService.GetRandomDonjon(nbRandomDonjon);
        initPlayerAnimation();
        player.PlayAnimation("idle_down");


    }
    protected override async Task OnInitializedAsync()
    {
        // DonjonEltConfig = await DonjonService.GetDonjonEltConf();
        //Console.WriteLine(string.Join("\n", DonjonEltConfig.Select(kvp => $"{kvp.Key}: {string.Join(", ", kvp.Value)}")));
    }


}