@page "/game"

@using MudBlazor
@using BlazorGameQuestClassLib
@using Components
@using BlazorGameClient.Components.GamePlay


<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <h1>JEU en cours de construction</h1>
    <GridCanva IsEditing=false/>
    <GameRulesCard/>
</div>