@page "/MapEditor"

<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh; gap: 20px;">
    <AdminNavbar />
    <h1>Map Editor en construction</h1>
</div>