@page "/TableauScore"
@attribute [Authorize]

@using BlazorGameClient.Components
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider


<div style="display:flex; justify-content:center; margin-top:10vh; ">
    <div style="width:50%; text-align:center; display:flex; flex-direction:column; gap:5vh;">
        <h2>LeaderBoard</h2>
        
        <LeaderBoard/>

        
        <div>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" style="width:50%;"
                       @onclick="GoToGame">
                Nouvelle aventure
            </MudButton>
        </div>
    </div>
</div>


@code {
    protected override async Task OnInitializedAsync()
    {
        // Vérifier l'état d'authentification
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        if (authState.User.Identity?.IsAuthenticated != true)
        {
            // Si non authentifié, rediriger vers la page de connexion
            NavigationManager.NavigateTo("/");
        }
    }

    private void GoToGame()
    {
        NavigationManager.NavigateTo("/game");
    }
}