.slide-down {
    opacity: 0;
    transform: translateY(-100vh);
    animation: slideDown 0.4s ease-out forwards;
}

.slide-up {
    opacity: 1; 
    transform: translateY(0); 
    animation: slideUp 0.2s ease-out forwards;
}

@keyframes slideUp {
    from {
        transform: translateY(0); 
        opacity: 1;
    }
    to {
        transform: translateY(-100vh); 
        opacity: 0.5; 
    }
}
@keyframes slideDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}